//- This is .pug file, which generates html. It used to be name jade.
//- Try instant online conversion at http://www.html2jade.org/

html
head
    title hello from flask webapp starter

    link(href='static/css/app.css', rel='stylesheet')

    script(type="text/javascript" src='static/js/app.js')


body
    main hello
